<%= form_for(BrainDumpNote.new, remote: true, html: { role: :form, multipart: true, class: "dropzone", id: "new_brain_dump_file_#{word.id}" }) do |f| %>

  <div class="fallback">
    <%= f.file_field :upload %>
    <%= f.hidden_field :brain_dump_id, value: word.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.submit 'Submit', class: "submit-note-button green-btn" %>
  </div>

<% end %>


<script>

  $(document).ready(function(){
    // disable auto discover
    Dropzone.autoDiscover = false;

    // grap our upload form by its id
    $("#new_brain_dump_file_<%= word.id %>").dropzone({
      // restrict image size to a maximum 1MB
      maxFilesize: 2,
      // changed the passed param to one accepted by
      // our rails app
      paramName: "brain_dump_note[upload]",
      // show remove links on each image upload
      addRemoveLinks: true
    });
  });


</script>
