<%= form_for(BrainDumpNote.new, remote: true, authenticity_token: true, html: { role: :form, multipart: true,  class: "dropzone", id: "new_brain_dump_file_#{word.id}" }) do |f| %>

  <%= f.hidden_field :brain_dump_id, value: word.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="fallback">
    <%= f.file_field :upload %>
  </div>

<% end %>

<div class="dropzone-previews" id="preview_<%= word.id %>"></div>


<script>

  $(document).ready(function(){
    // disable auto discover
    Dropzone.autoDiscover = false;

    // grap our upload form by its id
    var myDropzone = $("#new_brain_dump_file_<%= word.id %>").dropzone({
      // restrict image size to a maximum 1MB
      maxFilesize: 10,
      // changed the passed param to one accepted by
      // our rails app
      paramName: "brain_dump_note[upload]",
      // show remove links on each image upload
      addRemoveLinks: true,
      previewsContainer: "#preview_<%= word.id %>",
      clickable: true,
      createImageThumbnails: true,
      dictDefaultMessage: "To attach files you can drag & drop them here or click to select files from your computer.",

      success: function (file) {
        this.removeFile(file);
      }
    });
  });


</script>
