<div class="container">

  <h1><%= @organization.name %></h1>

  <div class="col-md-6">

    <%= bootstrap_form_for BrainDump.new, html: { id: "addToBrainDumpForm", method: :post }, remote: true do |f| %>
      <%= f.text_area :word, placeholder: "Add comma-separated words to your brain dump", required: true  %>
      <%= f.hidden_field :organization_id, value: @organization.id %>
      <%= f.submit 'Add' %>
    <% end %>

    <ul class="col-md-12 no-pad" id="left" data-id="0">
      <% @brain_dump.each do |word| %>
        <li data-id="<%= word.id %>"><%= word.word.humanize %></li>
      <% end %>
    </ul>

  </div>

  <div class="col-md-6">

    <%= bootstrap_form_for BrainDumpCategory.new, html: { id: "addBrainDumpCategory", method: :post }, remote: true do |f| %>
      <%= f.text_area :name, placeholder: "Add categories for your brain-dump words", required: true %>
      <%= f.hidden_field :organization_id, value: @organization.id %>
      <%= f.submit 'Add' %>
    <% end %>

    <div class="col-md-12 no-pad" id="right" style="height:300px;overflow-y:scroll;">
      <% @brain_dump_categories.each do |category| %>
        <div class="brain-dump-category">
          <b><%= category.name.titleize %></b>
          <ul class="brain-dump-category-list" data-id="<%= category.id %>">
            <% if category.brain_dumps.present? %>
              <% category.brain_dumps.each do |word| %>
                <li data-id="<%= word.id %>"><%= word.word.humanize %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

  </div>

</div>

<script>

  $(document).ready(function(){
    $("#organization_brain_dump").val('');
    brainDump();
  });

</script>
